/daily_work/Page_144/nbproject/private/
/daily_work/Page_144/build/
/daily_work/page_146/nbproject/private/
/daily_work/page_146/build/
/daily_work/demo_jsf/nbproject/private/
/daily_work/demo_jsf/build/
/daily_work/WebApplication1/nbproject/private/
/daily_work/WebApplication1/build/
/daily_work/WebApplication2/nbproject/private/
/daily_work/WebApplication2/build/
/daily_work/Student_jsf/nbproject/private/
/daily_work/Student_jsf/build/
/daily_work/Student_jsf/dist/
/daily_work/jsfMaven/target/
/daily_work/dec17/nbproject/private/
/daily_work/dec17/build/
/daily_work/chapter6/build/
/daily_work/chapter6/dist/
/daily_work/chapter6/nbproject/private/
/daily_work/login/nbproject/private/
/daily_work/jstlLogin/build/
/daily_work/jstlLogin/nbproject/private/
/daily_work/jstlLoginkkk/build/
/daily_work/jstlLoginkkk/nbproject/private/
/daily_work/login/build/
/daily_work/jstlLoginkkk/dist/
/daily_work/login/dist/
/daily_work/WebApplication3/nbproject/private/
/daily_work/WebApplication3/build/
/daily_work/WebApplication4/nbproject/private/
/daily_work/WebApplication4/build/
/daily_work/log_in/nbproject/private/
/daily_work/log_in/build/
/daily_work/jsfEviHibernate/build/
/daily_work/jsfEviHibernate/nbproject/private/
/daily_work/HomeWork/build/
/daily_work/HomeWork/dist/
/daily_work/HomeWork/nbproject/private/
/daily_work/insertWithHibernet/nbproject/private/
/daily_work/insert/nbproject/private/
/daily_work/insert/build/
/daily_work/Evidence07/nbproject/private/
/daily_work/Evidence07/build/
/daily_work/ch9Hibern/target/
/daily_work/jsfHibernet37R/nbproject/private/
/daily_work/tt/nbproject/private/
/daily_work/hibernate_37/nbproject/private/
/daily_work/jsfEvi/nbproject/private/
/daily_work/login1/nbproject/private/
/daily_work/login1/build/
/daily_work/crud/nbproject/private/
/daily_work/primeFaces1/nbproject/private/
/daily_work/primeFaces1/build/