/daily_work/Page_144/nbproject/private/
/daily_work/Page_144/build/
/daily_work/page_146/nbproject/private/
/daily_work/page_146/build/
/daily_work/demo_jsf/nbproject/private/
/daily_work/demo_jsf/build/
/daily_work/WebApplication1/nbproject/private/
/daily_work/WebApplication1/build/
/daily_work/WebApplication2/nbproject/private/
/daily_work/WebApplication2/build/
/daily_work/Student_jsf/nbproject/private/
/daily_work/Student_jsf/build/
/daily_work/Student_jsf/dist/
/daily_work/jsfMaven/target/
/daily_work/dec17/nbproject/private/
/daily_work/dec17/build/
/daily_work/chapter6/build/
/daily_work/chapter6/dist/
/daily_work/chapter6/nbproject/private/
/daily_work/login/nbproject/private/
/daily_work/jstlLogin/build/
/daily_work/jstlLogin/nbproject/private/